{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}

{{ define "content" }}
<section class="container">
  <div class="content-with-sidebar">
    <main class="posts">
      <ul class="posts-list">
        {{ range .Pages }}
        <li class="post-item">
          <span class="post-date">
            {{ .Date.Format "2006-01-02" }}
          </span>
          <a class="post-title" href="{{ .Permalink }}">
            {{ .Title }}
          </a>
        </li>
        {{ end }}
      </ul>
    </main>

    {{ partial "sidebar.html" . }}
  </div>
</section>
{{ end }}
